:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

pinyin-virtual-keyboard.custom {
  position: absolute;
  left: 500px;
  width: 400px;
}

.settings {
  border: solid 1px gray;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0rem 2rem;
  padding: 1rem;

  label {
    font-weight: bold;
  }
}

.device {
  position: relative;

  height: 300px;
  border: solid 1px gray;
}

.field-row {
  margin: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile {
  width: 400px;
}

.tablet-landscape {
  width: 1024px;
}

.tablet-portrait {
  width: 1400px;
}

.keyboard-demo {
  display: flex;
  flex-direction: column;
}
#text-input {
  height: 48px;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #e5e7eb;
  font-size: 2rem;
  outline: none;

  &::placeholder {
    color: #9ca3af;
  }
}
