:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: Arial, Helvetica, sans-serif;
}

label {
  margin: 0 1rem;
}

.device {
  position: relative;

  height: 350px;
  border: solid 1px gray;

  p {
    font-weight: bold;
    margin-left: 1rem;
  }
}

.mobile {
  width: 400px;
}

.tablet-landscape {
  width: 1024px;
}

.tablet-portrait {
  width: 1400px;
}
